@charset "utf-8";

img, object, embed, video {
	max-width: 100%;
}

.ie6 img {
	width:100%;
}

/*For checking al the borders:
*{border:1px solid red;}*/

*{-webkit-tap-highlight-color:rgba(0,0,0,0.1);}

a, a:hover, a:visited, a:focus, a:active, a:link{
cursor:pointer;
color:inherit;
outline:none;
text-decoration:none;
-webkit-touch-callout:none;
-webkit-user-select:none;
-khtml-user-select:none;
-moz-user-select:none;
user-select:none;
-webkit-tap-highlight-color:none;
}


/* Mobile & Tablet Layout: 768px and below. */
@media only screen and (max-width: 768px) {
.gridContainer {
	width: 100%;
	padding-left: 0%;
	padding-right: 0%;
}

body{
min-height:100vh;
}

.onlyDesktop{
visibility:hidden;
display:none;
}

	#loader{
	display:flex;
	position:fixed;
	width: 100vw;
	height:100vh;
	justify-content:center;
	background: center no-repeat rgb(255,229,178);
	z-index:9999;
	}

		#loaderSVG{			
		width:224px;			
		}
			#lsWheel{
			display:block;
			animation: lswRotate 10s infinite linear;
			transform-origin:50% 50%;
			}
			@keyframes lswRotate{
				from{
					transform: rotate(0deg);
				}
				to{
					transform: rotate(360deg);
				}
			}
			#lsClouds{
			display:block;
			animation: lscMove 1s infinite ease-out;
			}
			@keyframes lscMove{
				0%{
					transform: translate(0,0) scale(1,1);
					opacity:100%;
					
				}
				75%{
					opacity:75%;
				}
				100%{
					transform: translate(-225.28px,-225.28px) scale(1.15,1.15);
					opacity:0%;
				}
			}
			#lsShip{
			display:block;
			animation: lssMove 2s infinite ease-in-out;
			}
			@keyframes lssMove{
				0%{
					transform: translate(0,0) scale(1,1);					
				}
				50%{
					transform: translate(-170px,-133.12px) scale(1.07,1.07);
				
				}
				100%{
					transform: translate(0,0) scale(1,1);					
				}
			}
			
			
#mainBody{
	width:100vw;
	}
	#mainBodyBackground{
		
	}
		#backgroundSVG{
		display:block;
		position:absolute;
		top:0vw;
		width:100%;
		height:inherit;
		z-index:0;
		}
			#cloudsTR{
			transform: translate(170vw,-30vw);
			}
			#cloudsTL{
			transform: translate(0vw,30vw);
			}
		#babesB2{
		display:block;
		position:absolute;
		width:100vw;
		top:102vw;
		z-index:1;
		}
		#babesB1{
		display:block;
		position:absolute;
		width:100vw;
		top:115vw;
		z-index:1;
		}
		
		#shipSVG{
		display:block;
		position:absolute;
		width:75vw;
		top:60vw;
		left:5vw;
		z-index:2;
		}
		#babesF{
		display:block;
		position:absolute;
		width:100vw;
		top:120vw;
		z-index:3;
		}
		#deptChe{
		display:block;
		position:absolute;
		width:55vw;
		top:5vw;
		left:20vw;
		z-index:3;
		}
		#chLogotext{
		display:flex;
		flex-direction:column;
		position:absolute;
		align-items:center;
		width:100vw;
		top:128vw;
		z-index:3;
		}
			#chematoodlonLogo{
			display:block;
			position:relative;			
			width:70vw;			
			filter:invert(100%) drop-shadow(0vw 0vw 2vw #00003f) drop-shadow(0vw 0vw 1vw #000000);
			z-index:3;
			}
			#ftDusktnDawn{
			display:block;
			position:relative;
			top:3.5vw;
			color:#ffffff;
			font-size:3vw;
			font-style:italic;
			filter:drop-shadow(0vw 0vw 2vw #00003f) drop-shadow(0vw 0vw 2vw #00003f) drop-shadow(0vw 0vw 1vw #000000);
			z-index:3;
			}
			
			#content{
			display:block;
			position:absolute;
			top:200vw;
			}
				#aboutUs{
				display:flex;
				flex-direction:column;
				list-style-type:none;
				margin:0;
				padding:0;
				width:100vw;
				align-items:center;
				}
					#auheading{
					display:flex;
					align:center;
					width:80vw;
					color:#ffffff;
					font-family:'Mandala';
					font-size:7vw;
					letter-spacing:0.8vw;
					}
						#hWheel{}
							#hWheelSVG{
							width:8vw;
							height:8vw;
							filter: grayscale(100%) contrast(100%) invert(100%);
							animation: hwRotate 50s infinite linear;
							transform-origin:50% 50%;
							}
							@keyframes hwRotate{
							from{
							transform: rotate(0deg);
							}
							to{
							transform: rotate(360deg);
							}
							}
								#hWheelSVGg{}
					#auText{
					width:80vw;
					color:#ffffff;
					}
	
	
	
}

/* Desktop Layout: 768px to a max of 3840px.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media only screen and (min-width: 769px) {
.gridContainer {
	width: 100%;
	padding-left: 0%;
	padding-right: 0%;
}

body{
min-height:100vh;
}

.onlyMobile{
visibility:hidden;
display:none;
}

	#loader{
	display:flex;
	width: 100vw;
	height: 100vh;
	justify-content:center;
	background: center no-repeat rgb(255,229,178);
	}

		#loaderSVG{
		width:358.4px;		
		}
			#lsWheel{
			display:block;
			animation: lswRotate 10s infinite linear;
			transform-origin:50% 50%;
			}
			@keyframes lswRotate{
				from{
					transform: rotate(0deg);
				}
				to{
					transform: rotate(360deg);
				}
			}
			#lsClouds{
			display:block;
			animation: lswMove 1s infinite ease-out;
			}
			@keyframes lswMove{
				0%{
					transform: translate(0,0) scale(1,1);
					opacity:100%;
					
				}
				75%{
					opacity:75%;
				}
				100%{
					transform: translate(-225.28px,-225.28px) scale(1.15,1.15);
					opacity:0%;
				}
			}
			#lsShip{
			display:block;
			animation: lssMove 2s infinite ease-in-out;
			}
			@keyframes lssMove{
				0%{
					transform: translate(0,0) scale(1,1);					
				}
				50%{
					transform: translate(-170px,-133.12px) scale(1.07,1.07);
				
				}
				100%{
					transform: translate(0,0) scale(1,1);					
				}
			}
	
}