@charset "utf-8";

img, object, embed, video {
	max-width: 100%;
}

.ie6 img {
	width:100%;
}

/*For checking al the borders:
*{border:1px solid red;}*/

*{-webkit-tap-highlight-color:rgba(0,0,0,0.1);}

a, a:hover, a:visited, a:focus, a:active, a:link{
cursor:pointer;
color:antiquewhite;
outline:none;
text-decoration:none;
-webkit-touch-callout:none;
-webkit-user-select:none;
-khtml-user-select:none;
-moz-user-select:none;
user-select:none;
-webkit-tap-highlight-color:none;
}


/* Mobile & Tablet Layout: 768px and below. */
@media only screen and (max-width: 768px) {
.gridContainer {
	width: 100%;
	padding-left: 0%;
	padding-right: 0%;
}

body{
min-height:100vh;
}

.onlyDesktop{
visibility:hidden;
display:none;
}

	#loader{
	display:flex;
	position:fixed;
	width: 100vw;
	height:100vh;
	justify-content:center;
	background: center no-repeat rgb(255,229,178);
	opacity:1;
	transition: opacity 2s ease;
	z-index:9999;
	}

		#loaderSVG{			
		width:224px;			
		}
			#lsWheel{
			display:block;
			animation: lswRotate 20s infinite linear;
			transform-origin:50% 50%;
			}
			@keyframes lswRotate{
				from{
					transform: rotate(0deg);
				}
				to{
					transform: rotate(360deg);
				}
			}
			#lsClouds{
			display:block;
			animation: lscMove 0.5s infinite ease-out;
			}
			@keyframes lscMove{
				0%{
					transform: translate(0,0) scale(1,1);
					opacity:100%;
					
				}
				75%{
					opacity:75%;
				}
				100%{
					transform: translate(-225.28px,-225.28px) scale(1.15,1.15);
					opacity:0%;
				}
			}
			#lsShip{
			display:block;
			animation: lssMove 1s infinite ease-in-out;
			}
			@keyframes lssMove{
				0%{
					transform: translate(0,0) scale(1,1);					
				}
				50%{
					transform: translate(-170px,-133.12px) scale(1.07,1.07);
				
				}
				100%{
					transform: translate(0,0) scale(1,1);					
				}
			}
			
			
#mainBody{
	width:100vw;
	}
	#mainBodyBackground{
		
	}
		#backgroundSVG{
		display:block;
		position:absolute;
		top:0vw;
		width:100%;
		height:inherit;
		z-index:0;
		}
			#cloudsTR{
			transform: translate(170vw,-30vw);
			animation: ctrMove 10s infinite ease-in-out;
			}
			@keyframes ctrMove{
				0%{
					transform: translate(-25vw,0vw);
				}
				50%{
					transform: translate(25vw,0vw);
				}
				100%{
					transform: translate(-25vw,0vw);
				}
			}
			#cloudsTL{
			transform: translate(0vw,30vw);
			animation: ctlMove 10s infinite ease-in-out;
			}
			@keyframes ctlMove{
				0%{
					transform: translate(0vw,0vw);
				}
				50%{
					transform: translate(0vw,-65vw);
				}
				100%{
					transform: translate(0vw,0vw);
				}
			}
			#cloudsBR{
			animation: cbrMove 10s infinite ease-in-out;
			}
			@keyframes cbrMove{
				0%{
					transform: translate(0vw,0vw);
				}
				50%{
					transform: translate(0vw,-50vw);
				}
				100%{
					transform: translate(0vw,0vw);
				}
			}
			#cloudsBL{
			animation: cblMove 10s infinite ease-in-out;
			}
			@keyframes cblMove{
				0%{
					transform: translate(0vw,0vw);
				}
				25%{
					transform: translate(-60vw,0vw);
				}
				50%{
					transform: translate(-60vw,-60vw);
				}
				75%{
					transform: translate(0vw,-60vw);
				}
				100%{
					transform: translate(0vw,0vw);
				}
			}
			#sun{
			animation: snMove 30s infinite ease-in-out;
			}
			@keyframes snMove{
				0%{
					transform: scale(1,1);
				}
				50%{
					transform: scale(1.05,1.05);
				}
				100%{
					transform: scale(1,1);
				}
			}
			#torch_lrL{
			animation: lrlMove 40s infinite ease-in-out;
			transform-origin:82.775% 0%;
			}
			@keyframes lrlMove{
				0%{
					transform: scale(1,1);
				}
				50%{
					transform: scale(0,1);
				}
				100%{
					transform: scale(1,1);
				}
			}
			#torch_lrR{
			animation: lrrMove 40s infinite ease-in-out;
			transform-origin:84.98% 0%;
			}
			@keyframes lrrMove{
				0%{
					transform: scale(1,1);
				}
				50%{
					transform: scale(0,1);
				}
				100%{
					transform: scale(1,1);
				}
			}
		#babesB2{
		display:block;
		position:absolute;
		width:100vw;
		top:102vw;
		z-index:1;
		animation: bb2Move 5s infinite ease-in-out;
		}
		@keyframes bb2Move{
			0%{
				transform: scale(1.02,1.02) translate(-1vw,0vw);
			}
			50%{
				transform: scale(1.02,1.02) translate(1vw,0vw);
			}
			100%{
				transform: scale(1.02,1.02) translate(-1vw,0vw);
			}
		}
		#babesB1{
		display:block;
		position:absolute;
		width:100vw;
		top:115vw;
		z-index:1;
		animation: bb1Move 5s infinite ease-in-out;
		}
		@keyframes bb1Move{
			0%{
				transform: scale(1.02,1.02) translate(1vw,0vw);
			}
			50%{
				transform: scale(1.02,1.02) translate(-1vw,0vw);
			}
			100%{
				transform: scale(1.02,1.02) translate(1vw,0vw);
			}
		}
		
		#shipSVG{
		display:block;
		position:absolute;
		width:75vw;
		top:60vw;
		left:5vw;
		z-index:2;
		animation: spMove 25s infinite ease-in-out;
		}
		@keyframes spMove{
			0%{
				transform: translate(0vw,0vw);
			}
			25%{
				transform: translate(3vw,1.5vw);
			}
			50%{
				transform: translate(6vw,0vw);
			}
			75%{
				transform: translate(3vw,1.5vw);
			}
			100%{
				transform: translate(0vw,0vw);
			}
		}
		#babesF{
		display:block;
		position:absolute;
		width:100vw;
		top:120vw;
		z-index:3;
		animation: bfMove 4s infinite linear;
		}
		@keyframes bfMove{
			0%{
				transform: scale(1.02,1.02) translate(-1vw,0vw);
			}
			50%{
				transform: scale(1.02,1.02) translate(1vw,0vw);
			}
			100%{
				transform: scale(1.02,1.02) translate(-1vw,0vw);
			}
		}
		#deptChe{
		display:block;
		position:absolute;
		width:40vw;
		top:5vw;
		left:30vw;
		z-index:3;
		}
		#Volume{
		display:block;
		position:absolute;
		top:5vw;
		left:5vw;
		width:7.5vw;
		height:7.5vw;
		z-index:10;
		cursor:pointer;
		}
		#chLogotext{
		display:flex;
		flex-direction:column;
		position:absolute;
		align-items:center;
		width:100vw;
		top:130vw;
		z-index:3;
		}
			#chematoodlonLogo{
			display:block;
			position:relative;			
			width:60vw;			
			filter:invert(100%) drop-shadow(0vw 0vw 2vw #00003f) drop-shadow(0vw 0vw 1vw #000000);
			z-index:3;
			}
			#ftDusktnDawn{
			display:block;
			position:relative;
			top:3vw;
			color:#ffffff;
			font-size:2.7vw;
			font-style:italic;
			filter:drop-shadow(0vw 0vw 2vw #00003f) drop-shadow(0vw 0vw 2vw #00003f) drop-shadow(0vw 0vw 1vw #000000);
			z-index:3;
			}
			
			#headerMenu{
			display:block;
			position:absolute;
			left:85vw;
			top:5vw;
			z-index:10;
			}
				#menuButtonM{
				display:block;
				visibility:visible;
				opacity:1;
				margin-top:0vw;
				width:8vw;
				cursor:pointer;
				-webkit-transition: visibility 0.1s ease, opacity 0.1s ease;
				transition: visibility 0.1s ease, opacity 0.1s ease;
				}
				
				#mtItemsM{
				display:none;
				visibility:hidden;
				z-index:10;	
				flex-direction:column;
				align-items:flex-end;
				margin-top:-6vw;
				margin-left:-50vw;		
				}
					#menuCloseButton{
					display:flex;
					align-items:center;
					z-index:12;
					}
						#menuCloseButtonM{
						margin-top:2vw;
						width:6vw;
						cursor:pointer;
						margin-right:0vw;
						}
					
					#mliButtonsM{
					display: flex;
					position:fixed;
					flex-direction:column;
					align-items:flex-end;
					list-style-type:none;
					padding-left:0vw;
					padding-right:8vw;
					margin-top:-3vw;
					margin-right:-20vw;
					background-color:rgba(70, 33, 91, 1);
					width:40vw;
					height:135vw;
					justify-content: space-evenly;
					box-shadow: 0 0 1vw 0vw rgba(70,33,91,0.5);
					font-size:3.556vw;
					}
						#mliButtonsM li{
						display:flex;
						flex-direction:column;
						align-items:center;
						position:relative;
						width:34vw;						
						margin-top:0vw;
						cursor:pointer;
						}
							#mliButtonsM a{
							display:block;
							font-family:'Mandala';
							font-size:5vw;
							letter-spacing:0.3vw;
							color:rgb(255,229,178);
							padding-top:1.5vw;
							padding-bottom:1.5vw;
							}
							#ajttitem{color:#fff!important;}
			
			#content{
			display:block;
			position:absolute;
			top:182.5vw;
			}
				#aboutUs{
				display:flex;
				flex-direction:column;
				list-style-type:none;
				margin:0;
				padding-top:17.5vw;
				padding-left:0;
				padding-right:0;
				padding-bottom:10vw;
				width:100vw;
				align-items:center;
				}
					#auheading{
					display:flex;
					align:center;
					width:70vw;
					color:rgb(255,229,178);
					font-family:'Mandala';
					font-size:9vw;
					letter-spacing:1.5vw;
					}
						#hWheel{}
							#hWheelSVG{
							width:10vw;
							height:10vw;
							margin-right:1.5vw;							
							animation: hwRotate 20s infinite linear;
							transform-origin:50% 50%;
							}
							@keyframes hwRotate{
							from{
							transform: rotate(0deg);
							}
							to{
							transform: rotate(360deg);
							}
							}
								#hWheelSVGg{}
					#auText{
					margin-top:2vw;
					width:70vw;
					font-size:2.7vw;
					font-style:normal;
					letter-spacing:0.2vw;
					line-height:3.7vw;
					font-weight:300;
					color:#ffffff;
					}
					
				#sectionBreak1{
				display:block;				
				}
					#sectionBreak1IMG{
					margin-top:7.5vw;
					animation: sb1Move 50s infinite linear;
					}
					@keyframes sb1Move{
						0%{
							transform: scale(2,2) translate(-25vw,0vw);
						}
						50%{
							transform: scale(2,2) translate(25vw,0vw);
						}
						100%{
							transform: scale(2,2) translate(-25vw,0vw);
						}
					}
				
				#Theme{
				display:flex;
				flex-direction:column;
				list-style-type:none;
				margin:0;
				padding-top:17.5vw;
				padding-left:0;
				padding-right:0;
				padding-bottom:27vw;
				width:100vw;
				background-color:#5b2137;
				align-items:center;
				}
					#thheading{
					display:flex;
					align-items:flex-start;
					width:70vw;
					color:rgb(255,229,178);
					font-family:'Mandala';
					font-size:9vw;
					letter-spacing:1.5vw;
					}
					#hAnchor{}
						#hAnchorSVG{
						width:8vw;
						margin-right:1.5vw;												
						animation: haMove 5s infinite linear;
						}
						@keyframes haMove{
							0%{
								transform: translate(0vw,-1.5vw);
							}
							50%{
								transform: translate(0vw,1vw);
							}
							100%{
								transform: translate(0vw,-1.5vw);
							}
						}
					#thText{
					margin-top:2vw;
					width:70vw;
					font-size:2.7vw;
					font-style:normal;
					letter-spacing:0.2vw;
					line-height:3.7vw;
					font-weight:300;
					color:#ffffff;
					}
					
					#sectionBreak2{
					display:block;					
					}
						#sectionBreak2IMG{
						margin-top:-10vw;
						animation: sb2Move 50s infinite linear;
						}
						@keyframes sb2Move{
							0%{
								transform: scale(2,2) translate(25vw,0vw);
							}
							50%{
								transform: scale(2,2) translate(-25vw,0vw);
							}
							100%{
								transform: scale(2,2) translate(25vw,0vw);
							}
						}
						
				#embarkOn{
				display:flex;
				flex-direction:column;
				list-style-type:none;
				margin:0;
				padding-top:17.5vw;
				padding-left:0;
				padding-right:0;
				padding-bottom:30vw;
				width:100vw;
				background-color:#215b4b;
				align-items:center;
				}
					#eoheading{
					display:flex;
					align-items:flex-start;
					width:70vw;
					color:rgb(255,229,178);
					font-family:'Mandala';
					font-size:9vw;
					letter-spacing:1.5vw;
					}
					#hShipF{}
						#hShipFSVG{
						width:10vw;
						margin-top:-5vw;
						margin-left:0.3vw;
						margin-right:0.3vw;												
						}
							#hsfCloud{
							animation: hsfcMove 2s infinite ease-out;
							}
							@keyframes hsfcMove{
								0%{
									transform: translate(47vw,2vw) scale(1,1);
									opacity:100%;
									
								}
								75%{
									opacity:75%;
								}
								100%{
									transform: translate(53vw,-22vw) scale(1.1,1.1);
									opacity:0%;
								}
							}
							#hsfShip{
							animation: hsfsMove 5s infinite linear;
							}
							@keyframes hsfsMove{
							0%{
								transform: scale(1,1) translate(50vw,0vw);
							}
							50%{
								transform: scale(1.1,1.1) translate(45vw,0vw);
							}
							100%{
								transform: scale(1,1) translate(50vw,0vw);
							}
						}
					#eoText{
					margin-top:2vw;
					width:70vw;
					font-size:2.7vw;
					font-style:normal;
					letter-spacing:0.2vw;
					line-height:3.7vw;
					font-weight:300;
					color:#ffffff;
					}
				
				#sectionBreak3{
				display:block;					
				}
					#sectionBreak3IMG{
					margin-top:-20vw;
					animation: sb3Move 50s infinite linear;
					}
					@keyframes sb3Move{
						0%{
							transform: scale(2,2) translate(-25vw,0vw);
						}
						50%{
							transform: scale(2,2) translate(25vw,0vw);
						}
						100%{
							transform: scale(2,2) translate(-25vw,0vw);
						}
					}
				#footer{
				display:block;			
				list-style-type:none;
				width:100vw;
				height:70vw;
				background-color:rgb(70, 33, 91);
				margin:0%;
				padding-left:0vw;
				padding-right:0vw;
				padding-top:5vw;
				color:#ffffff;
				padding-bottom:5vw;
				}
					#logoBottom{
					display:block;
					float:left;
					margin-top:14.5vw;
					margin-left:15vw;
					margin-right:15vw;
					width:30vw;
					color:rgb(255,229,178);
					text-align:center;
					font-family:"Mandala";
					font-size:3.6vw;
					}
					#middleListBottom{
					display:block;
					float:right;
					margin-top:8vw;
					margin-right:15vw;					
					}
						.mlbItem{
						display:block;
						margin-bottom:3vw;
						font-size:2.75vw;
						width:25vw;
						}						
						#bottomMenuDividerM{
						display:block;
						float:right;
						width:25vw;
						margin-right:-25vw;
						margin-top:34vw;
						height:0.3906vw;
						background-color:rgb(255,229,178);
						}	
						
					#middleListRight{
					display:block;					
					float:right;
					margin-top:37.316vw;
					margin-right:-25vw;		
					}
						.mlrItem{
						display:block;
						margin-bottom:3vw;
						font-size:2.75vw;
						width:25vw;
						color:#FFFFFF;
						}
						#fbIcon{
						padding-top:1vw;
						width:6.5vw;
						}
			#creditsLove{
			display:block;			
			color:rgb(255,229,178);
			font-size:2.5vw;
			font-weight:300;
			letter-spacing:0.2vw;
			padding-top:2vw;
			padding-left-right:0vw;
			padding-bottom:9vw;
			text-align: center;	
			}
				#loveImg{
				width:4vw;
				}	
			
			#sectionBreak4{
			display:block;						
			}
				#sectionBreak4IMG{
				display:block;
				margin-top:-5vw;
				animation: sb4Move 50s infinite linear;
				}
				@keyframes sb4Move{
					0%{
						transform: scale(2,2) translate(25vw,0vw);
					}
					50%{
						transform: scale(2,2) translate(-25vw,0vw);
					}
					100%{
						transform: scale(2,2) translate(25vw,0vw);
					}
				}			
					
				
	
	
	
}

/* Desktop Layout: 768px to a max of 3840px.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media only screen and (min-width: 769px) {
.gridContainer {
	width: 100%;
	padding-left: 0%;
	padding-right: 0%;
}

body{
min-height:100vh;
}

.onlyMobile{
visibility:hidden;
display:none;
}

#loader{
display:flex;
position:fixed;
width: 100vw;
height: 100vh;
top:0vw;
justify-content:center;
background: center no-repeat rgb(255,229,178);
z-index:9999;
}

	#loaderSVG{
	width:224px;
	height:450px;		
	}
		#lsWheel{
		display:block;
		animation: lswRotate 10s infinite linear;
		transform-origin:50% 50%;
		}
		@keyframes lswRotate{
			from{
				transform: rotate(0deg);
			}
			to{
				transform: rotate(360deg);
			}
		}
		#lsClouds{
		display:block;
		animation: lswMove 1s infinite ease-out;
		}
		@keyframes lswMove{
			0%{
				transform: translate(0,0) scale(1,1);
				opacity:100%;
				
			}
			75%{
				opacity:75%;
			}
			100%{
				transform: translate(-225.28px,-225.28px) scale(1.15,1.15);
				opacity:0%;
			}
		}
		#lsShip{
		display:block;
		animation: lssMove 2s infinite ease-in-out;
		}
		@keyframes lssMove{
			0%{
				transform: translate(0,0) scale(1,1);					
			}
			50%{
				transform: translate(-170px,-133.12px) scale(1.07,1.07);
			
			}
			100%{
				transform: translate(0,0) scale(1,1);					
			}
		}
#loaderMessage{
position:absolute;
top:300px;
margin-top:10vw;
text-align:center;
font-size:1vw;
line-height:1.5vw;
}
	
}
