@charset "utf-8";

img, object, embed, video {
	max-width: 100%;
}

.ie6 img {
	width:100%;
}

/*For checking al the borders:
*{border:1px solid red;}*/

*{-webkit-tap-highlight-color:rgba(0,0,0,0.1);}

a, a:hover, a:visited, a:focus, a:active, a:link{
cursor:pointer;
color:inherit;
outline:none;
text-decoration:none;
-webkit-touch-callout:none;
-webkit-user-select:none;
-khtml-user-select:none;
-moz-user-select:none;
user-select:none;
-webkit-tap-highlight-color:none;
}


/* Mobile & Tablet Layout: 768px and below. */
@media only screen and (max-width: 768px) {
.gridContainer {
	width: 100%;
	padding-left: 0%;
	padding-right: 0%;
}

body{
min-height:100vh;
}

.onlyDesktop{
visibility:hidden;
display:none;
}

#header{
	display:flex;
	flex-direction:column;
	align-items:center;
	position:fixed;
	padding-bottom:0vw;
	color:#CCCCCC;
	background-color: #003366;
	width:100vw;
	border-radius:0 0 2vw 2vw;	
	box-shadow: 0 0 1vw 0vw rgba(0,0,0,0.5);
	z-index:1;
	}	
		#headerText{
		position:relative;
		height:14vw;
		width:88vw;	
		font-size:9.2vw;
		font-weight:bold;
		}
			#hrp1{
			font-size:1.778vw; 
			font-style:italic; 
			font-weight:normal;
			}
			#hrsp1{
			display:block;
			position:relative;
			width:20vw; 
			text-align:left;
			color:#fff;	
			top:-1vw;		
			text-shadow: 0 1vw 1vw rgba(0,51,102,0.5);
			z-index:1;
			}
			#headerMenu{
			display:block;
			position:relative;
			float:right;
			top:-15vw;
			}
				#menuButtonM{
				display:block;
				visibility:visible;
				opacity:1;
				margin-top:0vw;
				width:5vw;
				cursor:pointer;
				-webkit-transition: visibility 0.1s ease, opacity 0.1s ease;
				transition: visibility 0.1s ease, opacity 0.1s ease;
				}
				
				#mtItemsM{
				display:none;
				visibility:hidden;
				z-index:-1;			
				}
					#menuCloseButtonM{
					width:4.5vw;
					cursor:pointer;
					margin-right:6vw;
					z-index:1;
					}
					
					#mliButtonsM{
					display: flex;
					flex-direction:column;
					align-items:flex-end;
					list-style-type:none;
					padding-left:0vw;
					padding-right:-6vw;
					margin-top:-3vw;
					margin-right:0vw;
					background-color:#003366;
					width:30vw;
					height:60vh;
					justify-content: space-evenly;
					border-radius: 0 0 0 2vw;
					box-shadow: 0 0 1vw 0vw rgba(0,51,102,0.5);
					font-size:3.556vw;
					font-weight:500;
					z-index: 0;
					}
						#mliButtonsM li{
						display:flex;
						flex-direction:column;
						align-items:center;
						position:relative;
						width:29.7916vw;
						margin-top:0vw;
						cursor:pointer;
						}
							#mliButtonsM a{
							display:block;
							color:#CCCCCC;
							padding-top:1.5vw;
							padding-bottom:1.5vw;
							}
							#ajttitem{color:#fff!important;}	
		
	#middle{
	display:flex;
	flex-direction:column;
	position:absolute;
	top:12vw;
	margin-top:10vw;
	margin-bottom:4vw;	
	width:100vw;
	z-index:0;
	}
		#middleTextTLDR{
		position:relative;
		margin-top:0vw;
		left:6vw;
		width:88vw;
		font-size:3.556vw;		
		letter-spacing: -0.05vw;
		font-weight:500;
		border-radius:2vw;		
		background-color: rgb(0,0,0,0.05);
		padding:2vw;
		padding-bottom:0vw!important; 
		box-sizing:border-box;
		}
			#mttmr1{
			background-color: rgba(255,255,255,0.4); 
			font-style: normal; 
			font-weight:normal; 
			color:#003366; 
			letter-spacing:0.5vw;
			}
			#mttmr2,#mttmr3{
			background-color: rgba(0,0,0,0.05); 
			font-size:5.334vw; 
			font-style: normal; 
			font-weight:500;
			text-align:right; 
			color:#003366;
			}
			#mttp1{
			margin-top:0vw;
			}
			#mttp2{font-size:3.556vw;}
			#mttsp1{font-weight:bold;}
			#mttsp15{font-weight:bold;}
			#mttsp2{font-weight:bold;}
		#middleTextMain{
		display:block;
		position:relative;
		margin-top:12vw;
		left:6vw;
		width:88vw;
		font-size:3.556vw;		
		letter-spacing: -0.05vw;
		font-weight:500;
		padding:2vw;
		padding-bottom:0vw!important; 
		box-sizing:border-box;
		}	
			#mtmmr1{
			background-color: rgba(255,255,255,0.4); 
			font-style: normal; 
			font-weight:normal; 
			color:#003366; 
			letter-spacing:0.5vw;
			}
			#mtmmr2, #mtmmr3, #mtmmr4, #mtmmr5, #mtmmr6{
			background-color: rgba(0,0,0,0.1); 
			font-size:4.445vw; 
			font-style: normal; 
			font-weight:500; 
			letter-spacing:0.5vw; 
			color:#003366;	
			}
			#mtmsp41, #mtmsp42, #mtmsp43, #mtmsp44, #mtmsp45, #mtmsp51, #mtmsp52{font-weight:bold;}
			#mtmsp53{font-size:5.334vw;}
			
			#jointheteam{
			display:block;
			position:absolute;
			left:0vw;
			width:88vw;
			height:46vw;
			font-size:3.556vw;		
			letter-spacing: -0.05vw;
			font-weight:500;
			border-radius:2vw;		
			background-color: rgb(0,0,0,0.05);
			padding:2vw;
			box-sizing:border-box;
			}
				
				#whatsappGroupButton{
				position:relative;
				list-style-type:none;
				width: 30vw;
				margin-top:37vw;
				padding:1vw;
				text-align:center;
				font-size: 5.334vw;
				font-weight:bold;
				border-radius:2vw;
				border:0.15vw solid #25D366;
				color:#25D366;
				box-sizing:border-box;
				box-shadow: 0 0 1.5vw 0.5vw rgba(39,52,67,0.5);
				background-color: #003366;
				}
				
	#footer{		
	display:flex;
	flex-direction:column;
	align-items:center;
	position:absolute;
	padding-top:0vw;
	color:#CCCCCC;
	background-color: #003366;
	width:100vw;
	border-radius:2vw 2vw 0 0;	
	box-shadow: 0 0 1vw 0vw rgba(0,0,0,0.5);
	z-index:1;
	}
		#creditsLove{
		position:relative;	
		height:2vw;
		margin-top:-2.2vw;
		font-size:3.556vw;
		font-weight:bold;
		color:#fff;
		text-shadow: 0 -0.5vw 1vw rgba(0,51,102,0.5);
		}
			#loveImg{
			width:4.7vw;
			}
	
	
}

/* Desktop Layout: 768px to a max of 3840px.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media only screen and (min-width: 769px) {
.gridContainer {
	width: 100%;
	padding-left: 0%;
	padding-right: 0%;
}

body{
min-height:100vh;
}

.onlyMobile{
visibility:hidden;
display:none;
}

	#header{
	display:flex;
	flex-direction:column;
	position:fixed;
	padding-bottom:0vw;
	color:#CCCCCC;
	background-color: #003366;
	width:100vw;
	border-radius:0 0 2vw 2vw;	
	box-shadow: 0 0 1vw 0vw rgba(0,0,0,0.5);
	z-index:1;
	}	
		#headerText{
		position:relative;
		left:6vw;
		width:88vw;	
		height:7.6vw;	
		font-size:5vw;
		font-weight:bold;
		}
			#hrp1{
			font-size:1vw; 
			font-style:italic; 
			font-weight:normal;
			}
			#hrsp1{
			display:block; 
			text-align:left;
			color:#fff; 
			text-shadow: 0 1vw 1vw rgba(0,51,102,0.5);
			}
			#hrsp2{
			display:block; 
			position:relative; 
			text-align:right; 
			font-size:1.7vw; 
			font-weight:200; 
			top:-4.5vw;			
			}
			#ajttitem{color:#fff;}	
		
	#middle{
	display:flex;
	flex-direction:column;
	position:absolute;
	top:12vw;
	margin-top:2vw;
	margin-bottom:4vw;	
	width:100vw;
	z-index:0;
	}
		#middleTextTLDR{
		position:relative;
		margin-top:0vw;
		left:6vw;
		width:88vw;
		text-align:justify;
		font-size:2vw;		
		letter-spacing: -0.05vw;
		font-weight:200;
		border-radius:2vw;		
		background-color: rgb(0,0,0,0.05);
		padding:2vw;
		padding-bottom:0vw!important; 
		box-sizing:border-box;
		}
			#mttmr1{
			background-color: rgba(255,255,255,0.4); 
			font-style: normal; 
			font-weight:normal; 
			color:#003366; 
			letter-spacing:0.5vw;
			}
			#mttmr2,#mttmr3{
			background-color: rgba(0,0,0,0.05); 
			font-size:3vw; 
			font-style: normal; 
			font-weight:200; 
			color:#003366;
			}
			#mttp1{
			margin-top:0vw;
			}
			#mttp2{font-size:2vw;}
			#mttsp1{font-weight:500;}
			#mttsp15{font-weight:500;}
			#mttsp2{font-weight:500;}
		#middleTextMain{
		display:block;
		position:relative;
		margin-top:4vw;
		left:6vw;
		width:88vw;
		text-align:justify;
		font-size:2vw;		
		letter-spacing: -0.05vw;
		font-weight:200;
		padding:2vw;
		padding-bottom:0vw!important; 
		box-sizing:border-box;
		}	
			#mtmmr1{
			background-color: rgba(255,255,255,0.4); 
			font-style: normal; 
			font-weight:normal; 
			color:#003366; 
			letter-spacing:0.5vw;
			}
			#mtmmr2, #mtmmr3, #mtmmr4, #mtmmr5, #mtmmr6{
			background-color: rgba(0,0,0,0.1); 
			font-size:2.5vw; 
			font-style: normal; 
			font-weight:200; 
			letter-spacing:0.5vw; 
			color:#003366;	
			}
			#mtmsp41, #mtmsp42, #mtmsp43, #mtmsp44, #mtmsp45, #mtmsp51, #mtmsp52{font-weight:500;}
			#mtmsp53{font-size:3vw;}
			
			#jointheteam{
			display:block;
			position:absolute;
			left:0vw;
			width:88vw;
			height:24.5vw;
			text-align:justify;
			font-size:2vw;		
			letter-spacing: -0.05vw;
			font-weight:200;
			border-radius:2vw;		
			background-color: rgb(0,0,0,0.05);
			padding:2vw;
			box-sizing:border-box;
			}
				
				#whatsappGroupButton{
				position:relative;
				list-style-type:none;
				width: 20vw;
				margin-top:18.5vw;
				padding:1vw;
				text-align:center;
				font-size: 3vw;
				font-weight:bold;
				border-radius:2vw;
				border:0.15vw solid #25D366;
				color:#25D366;
				box-sizing:border-box;
				box-shadow: 0 0 1.5vw 0.5vw rgba(39,52,67,0.5);
				background-color: #003366;
				}
				
	#footer{		
	display:flex;
	flex-direction:column;
	align-items:center;
	position:absolute;
	padding-top:0vw;
	color:#CCCCCC;
	background-color: #003366;
	width:100vw;
	border-radius:2vw 2vw 0 0;	
	box-shadow: 0 0 1vw 0vw rgba(0,0,0,0.5);
	z-index:1;
	}
		#creditsLove{
		position:relative;	
		height:2vw;
		margin-top:-1vw;
		font-size:1.5vw;
		font-weight:bold;
		color:#fff;
		text-shadow: 0 -0.5vw 1vw rgba(0,51,102,0.5);
		}
			#loveImg{
			width:2vw;
			}
	
}